# DATA CLEANING MISSING VALUE

Bu ödevde ABD Eğitim Sistemi'ne ait bir takım verileri inceleyeceksiniz. Öncelikle veri kümesini Kaggle'dan indirin. Burada eğitim sistemine ait bir çok veri kümesi bulunmaktadır. Bu ödevde 'states_all.csv' isimli veri kümesini kullanacaksınız.

Bu ödevi tamamlamak için, aşağıdaki soruların çözümlerini içeren Jupyter notebook dosyasının Github linkini gönderin. Kafanıza takılan konuları mentörünüzle konuşabilir ya da ofis saatinde Slack üzerinden sorabilirsiniz.

Veri kümesinde yer alan değişkenlerinin tiplerini ve her bir değişkenin eksik (null) değer oranını bulun.

Verimizde yıl (year) sütunu olduğunu farketmişsinizdir. Şimdilik yıl verisini unutun ve her bir gözlemin aynı yıl içerisinde yapıldığını farz edin. Her bir değişken için eksik değerleri nasıl doldurabileceğinizi düşünün. Eksik değerleri bir değerle doldurmak hangi değişkenler için anlamlı, hangileri için anlamsızdır?

Şimdi zaman faktörünü dikkate alma zamanı! 2. sorudaki cevabınızı tekrar gözden geçirin ve eksik verileri o yıl içerisinde gözlemlenen değerlere dayanarak doldurun. Örneğin, bir değeri ortalama değer ile doldurmak isterseniz, o yılın ortalamasını hesaplayın.

Bu sefer, eksik değerleri enterpolasyon yaparak doldurun.

İkinci, üçüncü ve dördüncü sorulardaki cevaplarınızı karşılaştırın. Anlamlı bir fark görebiliyor musunuz?

In this assignment, you are going to use a dataset related to the US education system. Please download the (dataset) from Kaggle. You are going to use states_all.csv within this dataset.

**1. Find the types of variables in the dataset and the missing (null) ratio of each variable.**

In [89]:
import numpy as np
import pandas as pd

In [90]:
us_data=pd.read_csv("states_all.csv")
us_data

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,247.0,287.0,224.0,262.0
1711,2019_WASHINGTON,WASHINGTON,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,240.0,286.0,220.0,266.0
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,231.0,272.0,213.0,256.0
1713,2019_WISCONSIN,WISCONSIN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,242.0,289.0,220.0,267.0
1714,2019_WYOMING,WYOMING,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,246.0,286.0,227.0,265.0

In [91]:
us_data1=us_data.copy()
us_data2=us_data.copy()
us_data3=us_data.copy()

In [92]:
us_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [93]:
us_data.isnull().sum()

PRIMARY_KEY                        0
STATE                              0
YEAR                               0
ENROLL                           491
TOTAL_REVENUE                    440
FEDERAL_REVENUE                  440
STATE_REVENUE                    440
LOCAL_REVENUE                    440
TOTAL_EXPENDITURE                440
INSTRUCTION_EXPENDITURE          440
SUPPORT_SERVICES_EXPENDITURE     440
OTHER_EXPENDITURE                491
CAPITAL_OUTLAY_EXPENDITURE       440
GRADES_PK_G                      173
GRADES_KG_G                       83
GRADES_4_G                        83
GRADES_8_G                        83
GRADES_12_G                       83
GRADES_1_8_G                     695
GRADES_9_12_G                    644
GRADES_ALL_G                      83
AVG_MATH_4_SCORE                1150
AVG_MATH_8_SCORE                1113
AVG_READING_4_SCORE             1065
AVG_READING_8_SCORE             1153
dtype: int64

In [94]:
us_data.isnull().sum()*100/us_data.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

**2.You may have noticed that our data has a year column. For now, forget about the year data and assume that each observation was made in the same year. Consider how you can fill in missing values for each variable. Filling in the missing values with a value is meaningful for which variables and for which ones?**

In [95]:
us_data.groupby("STATE")["ENROLL"].mean()

STATE
ALABAMA                 7.365843e+05
ALASKA                  1.304296e+05
ARIZONA                 8.743221e+05
ARKANSAS                4.519019e+05
CALIFORNIA              5.945343e+06
COLORADO                7.515678e+05
CONNECTICUT             5.231307e+05
DELAWARE                1.136383e+05
DISTRICT_OF_COLUMBIA    6.199808e+04
DODEA                            NaN
FLORIDA                 2.486441e+06
GEORGIA                 1.503696e+06
HAWAII                  1.834175e+05
IDAHO                   2.555033e+05
ILLINOIS                2.026003e+06
INDIANA                 1.000065e+06
IOWA                    4.937421e+05
KANSAS                  4.727478e+05
KENTUCKY                6.490130e+05
LOUISIANA               7.166416e+05
MAINE                   1.983767e+05
MARYLAND                8.419581e+05
MASSACHUSETTS           9.318566e+05
MICHIGAN                1.594491e+06
MINNESOTA               8.157256e+05
MISSISSIPPI             4.885231e+05
MISSOURI                8.956424e+05
MONTANA                 1.509628e+05
NATIONAL                         NaN
NEBRASKA                2.920978e+05
NEVADA                  3.651757e+05
NEW_HAMPSHIRE           1.938646e+05
NEW_JERSEY              1.262230e+06
NEW_MEXICO              3.230488e+05
NEW_YORK                2.748181e+06
NORTH_CAROLINA          1.330548e+06
NORTH_DAKOTA            1.062843e+05
OHIO                    1.751346e+06
OKLAHOMA                6.125558e+05
OREGON                  5.493464e+05
PENNSYLVANIA            1.716808e+06
RHODE_ISLAND            1.463697e+05
SOUTH_CAROLINA          6.872169e+05
SOUTH_DAKOTA            1.269699e+05
TENNESSEE               9.322748e+05
TEXAS                   4.315420e+06
UTAH                    5.094743e+05
VERMONT                 9.346662e+04
VIRGINIA                1.179632e+06
WASHINGTON              1.010687e+06
WEST_VIRGINIA           2.891283e+05
WISCONSIN               8.671074e+05
WYOMING                 9.166442e+04
Name: ENROLL, dtype: float64

In [96]:
us_data1["ENROLL"]=us_data1["ENROLL"].fillna(us_data1.groupby("STATE")["ENROLL"].transform("mean"))
us_data1["ENROLL"]=us_data1["ENROLL"].fillna(us_data1["ENROLL"].mean())

In [97]:
us_data1["TOTAL_REVENUE"]=us_data1["TOTAL_REVENUE"].fillna(us_data1.groupby("STATE")["TOTAL_REVENUE"].transform("mean"))
us_data1["TOTAL_REVENUE"]=us_data1["TOTAL_REVENUE"].fillna(us_data1["TOTAL_REVENUE"].mean())

In [98]:
us_data1["FEDERAL_REVENUE"]=us_data1["FEDERAL_REVENUE"].fillna(us_data1.groupby("STATE")["FEDERAL_REVENUE"].transform("mean"))
us_data1["FEDERAL_REVENUE"]=us_data1["FEDERAL_REVENUE"].fillna(us_data1["FEDERAL_REVENUE"].mean())

In [99]:
us_data1["STATE_REVENUE"]=us_data1["STATE_REVENUE"].fillna(us_data1.groupby("STATE")["STATE_REVENUE"].transform("mean"))
us_data1["STATE_REVENUE"]=us_data1["STATE_REVENUE"].fillna(us_data1["STATE_REVENUE"].mean())

In [100]:
us_data1["LOCAL_REVENUE"]=us_data1["LOCAL_REVENUE"].fillna(us_data1.groupby("STATE")["LOCAL_REVENUE"].transform("mean"))
us_data1["LOCAL_REVENUE"]=us_data1["LOCAL_REVENUE"].fillna(us_data1["LOCAL_REVENUE"].mean())

In [101]:
us_data1["TOTAL_EXPENDITURE"]=us_data1["TOTAL_EXPENDITURE"].fillna(us_data1.groupby("STATE")["TOTAL_EXPENDITURE"].transform("mean"))
us_data1["TOTAL_EXPENDITURE"]=us_data1["TOTAL_EXPENDITURE"].fillna(us_data1["TOTAL_EXPENDITURE"].mean())

In [102]:
us_data1["INSTRUCTION_EXPENDITURE"]=us_data1["INSTRUCTION_EXPENDITURE"].fillna(us_data1.groupby("STATE")["INSTRUCTION_EXPENDITURE"].transform("mean"))
us_data1["INSTRUCTION_EXPENDITURE"]=us_data1["INSTRUCTION_EXPENDITURE"].fillna(us_data1["INSTRUCTION_EXPENDITURE"].mean())

In [103]:
us_data1["SUPPORT_SERVICES_EXPENDITURE"]=us_data1["SUPPORT_SERVICES_EXPENDITURE"].fillna(us_data1.groupby("STATE")["SUPPORT_SERVICES_EXPENDITURE"].transform("mean"))
us_data1["SUPPORT_SERVICES_EXPENDITURE"]=us_data1["SUPPORT_SERVICES_EXPENDITURE"].fillna(us_data1["SUPPORT_SERVICES_EXPENDITURE"].mean())

In [104]:
us_data1["OTHER_EXPENDITURE"]=us_data1["OTHER_EXPENDITURE"].fillna(us_data1.groupby("STATE")["OTHER_EXPENDITURE"].transform("mean"))
us_data1["OTHER_EXPENDITURE"]=us_data1["OTHER_EXPENDITURE"].fillna(us_data1["OTHER_EXPENDITURE"].mean())

In [105]:
us_data1["CAPITAL_OUTLAY_EXPENDITURE"]=us_data1["CAPITAL_OUTLAY_EXPENDITURE"].fillna(us_data1.groupby("STATE")["CAPITAL_OUTLAY_EXPENDITURE"].transform("mean"))
us_data1["CAPITAL_OUTLAY_EXPENDITURE"]=us_data1["CAPITAL_OUTLAY_EXPENDITURE"].fillna(us_data1["CAPITAL_OUTLAY_EXPENDITURE"].mean())

In [106]:
us_data1["GRADES_PK_G"]=us_data1["GRADES_PK_G"].fillna(us_data1.groupby("STATE")["GRADES_PK_G"].transform("mean"))
us_data1["GRADES_PK_G"]=us_data1["GRADES_PK_G"].fillna(us_data1["GRADES_PK_G"].mean())

In [107]:
us_data1["GRADES_KG_G"]=us_data1["GRADES_KG_G"].fillna(us_data1.groupby("STATE")["GRADES_KG_G"].transform("mean"))
us_data1["GRADES_KG_G"]=us_data1["GRADES_KG_G"].fillna(us_data1["GRADES_KG_G"].mean())

In [108]:
us_data1["GRADES_4_G"]=us_data1["GRADES_4_G"].fillna(us_data1.groupby("STATE")["GRADES_4_G"].transform("mean"))
us_data1["GRADES_4_G"]=us_data1["GRADES_4_G"].fillna(us_data1["GRADES_4_G"].mean())

In [109]:
us_data1["GRADES_8_G"]=us_data1["GRADES_8_G"].fillna(us_data1.groupby("STATE")["GRADES_8_G"].transform("mean"))
us_data1["GRADES_8_G"]=us_data1["GRADES_8_G"].fillna(us_data1["GRADES_8_G"].mean())

In [110]:
us_data1["GRADES_12_G"]=us_data1["GRADES_12_G"].fillna(us_data1.groupby("STATE")["GRADES_12_G"].transform("mean"))
us_data1["GRADES_12_G"]=us_data1["GRADES_12_G"].fillna(us_data1["GRADES_12_G"].mean())

In [111]:
us_data1["GRADES_1_8_G"]=us_data1["GRADES_1_8_G"].fillna(us_data1.groupby("STATE")["GRADES_1_8_G"].transform("mean"))
us_data1["GRADES_1_8_G"]=us_data1["GRADES_1_8_G"].fillna(us_data1["GRADES_1_8_G"].mean())

In [112]:
us_data1["GRADES_9_12_G"]=us_data1["GRADES_9_12_G"].fillna(us_data1.groupby("STATE")["GRADES_9_12_G"].transform("mean"))
us_data1["GRADES_9_12_G"]=us_data1["GRADES_9_12_G"].fillna(us_data1["GRADES_9_12_G"].mean())

In [113]:
us_data1["GRADES_ALL_G"]=us_data1["GRADES_ALL_G"].fillna(us_data1.groupby("STATE")["GRADES_ALL_G"].transform("mean"))
us_data1["GRADES_ALL_G"]=us_data1["GRADES_ALL_G"].fillna(us_data1["GRADES_ALL_G"].mean())

In [114]:
us_data1["AVG_MATH_4_SCORE"]=us_data1["AVG_MATH_4_SCORE"].fillna(us_data1.groupby("STATE")["AVG_MATH_4_SCORE"].transform("mean"))
us_data1["AVG_MATH_4_SCORE"]=us_data1["AVG_MATH_4_SCORE"].fillna(us_data1["AVG_MATH_4_SCORE"].mean())

In [115]:
us_data1["AVG_MATH_8_SCORE"]=us_data1["AVG_MATH_8_SCORE"].fillna(us_data1.groupby("STATE")["AVG_MATH_8_SCORE"].transform("mean"))
us_data1["AVG_MATH_8_SCORE"]=us_data1["AVG_MATH_8_SCORE"].fillna(us_data1["AVG_MATH_8_SCORE"].mean())

In [116]:
us_data1["AVG_READING_4_SCORE"]=us_data1["AVG_READING_4_SCORE"].fillna(us_data1.groupby("STATE")["AVG_READING_4_SCORE"].transform("mean"))
us_data1["AVG_READING_4_SCORE"]=us_data1["AVG_READING_4_SCORE"].fillna(us_data1["AVG_READING_4_SCORE"].mean())

In [117]:
us_data1["AVG_READING_8_SCORE"]=us_data1["AVG_READING_8_SCORE"].fillna(us_data1.groupby("STATE")["AVG_READING_8_SCORE"].transform("mean"))
us_data1["AVG_READING_8_SCORE"]=us_data1["AVG_READING_8_SCORE"].fillna(us_data1["AVG_READING_8_SCORE"].mean())

In [118]:
us_data1.isnull().sum()

PRIMARY_KEY                     0
STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
GRADES_ALL_G                    0
AVG_MATH_4_SCORE                0
AVG_MATH_8_SCORE                0
AVG_READING_4_SCORE             0
AVG_READING_8_SCORE             0
dtype: int64

In [119]:

us_data1

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,7.365843e+05,2678885.00,304177.00,1659028.00,715680.00,2653798.00,1481703.00,...,57948.00000,58025.00000,41167.00000,464653.65,2.133993e+05,7.316340e+05,208.000000,252.0,207.000000,255.000000
1,1992_ALASKA,ALASKA,1992,1.304296e+05,1049591.00,106780.00,720711.00,222100.00,972488.00,498362.00,...,9748.00000,8789.00000,6714.00000,80658.50,3.961205e+04,1.224870e+05,234.777778,280.0,209.888889,258.333333
2,1992_ARIZONA,ARIZONA,1992,8.743221e+05,3258079.00,297888.00,1369815.00,1590376.00,3401580.00,1435908.00,...,55433.00000,49081.00000,37410.00000,632177.35,3.001561e+05,6.734770e+05,215.000000,265.0,209.000000,258.636364
3,1992_ARKANSAS,ARKANSAS,1992,4.519019e+05,1711959.00,178571.00,958785.00,574603.00,1743022.00,964323.00,...,34632.00000,36011.00000,27651.00000,288069.95,1.368237e+05,4.414900e+05,210.000000,256.0,211.000000,258.818182
4,1992_CALIFORNIA,CALIFORNIA,1992,5.945343e+06,26260025.00,2072470.00,16546514.00,7641041.00,27138832.00,14358922.00,...,418418.00000,363296.00000,270675.00000,3783631.40,1.883045e+06,5.254844e+06,208.000000,261.0,202.000000,255.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,1.179632e+06,11237280.32,759245.56,4418365.64,6059669.12,11456358.48,6072911.24,...,87309.09375,86618.75000,75575.43750,737688.60,3.625800e+05,1.151226e+06,247.000000,287.0,224.000000,262.000000
1711,2019_WASHINGTON,WASHINGTON,2019,1.010687e+06,9295918.12,752469.48,5764736.68,2778711.96,9481863.84,4624236.92,...,75210.43750,74138.21875,70990.21875,625748.60,3.246117e+05,9.789468e+05,240.000000,286.0,220.000000,266.000000
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,2.891283e+05,2664419.00,287330.80,1564013.72,813074.48,2670432.28,1470191.08,...,21735.93750,22799.65625,20056.43750,168134.40,8.321148e+04,2.970217e+05,231.000000,272.0,213.000000,256.000000
1713,2019_WISCONSIN,WISCONSIN,2019,8.671074e+05,8944846.84,572206.44,4404704.20,3967936.20,8995488.76,4762572.92,...,61357.46875,62573.84375,64291.00000,497802.35,2.780265e+05,8.545297e+05,242.000000,289.0,220.000000,267.000000
1714,2019_WYOMING,WYOMING,2019,9.166442e+04,1173952.68,86561.00,611459.16,475932.52,1152672.48,572053.40,...,7162.12500,7262.65625,6479.78125,54758.00,2.774333e+04,9.343384e+04,246.000000,286.0,227.000000,265.000000

**3.Now it's time to consider the factor of time! Review your answer in question 2 and fill in the missing data based on the values observed during that year. For example, if you want to fill a value with an average value, calculate the average of that year.**

In [121]:
us_data2["ENROLL"]=us_data2["ENROLL"].fillna(us_data2.groupby("YEAR")["ENROLL"].transform("mean"))
us_data2["ENROLL"]=us_data2["ENROLL"].fillna(us_data2["ENROLL"].mean())

In [122]:
us_data2["TOTAL_REVENUE"]=us_data2["TOTAL_REVENUE"].fillna(us_data2.groupby("YEAR")["TOTAL_REVENUE"].transform("mean"))
us_data2["TOTAL_REVENUE"]=us_data2["TOTAL_REVENUE"].fillna(us_data2["TOTAL_REVENUE"].mean())

In [123]:
us_data2["FEDERAL_REVENUE"]=us_data2["FEDERAL_REVENUE"].fillna(us_data2.groupby("YEAR")["FEDERAL_REVENUE"].transform("mean"))
us_data2["FEDERAL_REVENUE"]=us_data2["FEDERAL_REVENUE"].fillna(us_data2["FEDERAL_REVENUE"].mean())

In [124]:
us_data2["STATE_REVENUE"]=us_data2["STATE_REVENUE"].fillna(us_data2.groupby("YEAR")["STATE_REVENUE"].transform("mean"))
us_data2["STATE_REVENUE"]=us_data2["STATE_REVENUE"].fillna(us_data2["STATE_REVENUE"].mean())

In [125]:
us_data2["LOCAL_REVENUE"]=us_data2["LOCAL_REVENUE"].fillna(us_data2.groupby("YEAR")["LOCAL_REVENUE"].transform("mean"))
us_data2["LOCAL_REVENUE"]=us_data2["LOCAL_REVENUE"].fillna(us_data2["LOCAL_REVENUE"].mean())

In [126]:
us_data2["TOTAL_EXPENDITURE"]=us_data2["TOTAL_EXPENDITURE"].fillna(us_data2.groupby("YEAR")["TOTAL_EXPENDITURE"].transform("mean"))
us_data2["TOTAL_EXPENDITURE"]=us_data2["TOTAL_EXPENDITURE"].fillna(us_data2["TOTAL_EXPENDITURE"].mean())

In [127]:
us_data2["INSTRUCTION_EXPENDITURE"]=us_data2["INSTRUCTION_EXPENDITURE"].fillna(us_data2.groupby("YEAR")["INSTRUCTION_EXPENDITURE"].transform("mean"))
us_data2["INSTRUCTION_EXPENDITURE"]=us_data2["INSTRUCTION_EXPENDITURE"].fillna(us_data2["INSTRUCTION_EXPENDITURE"].mean())

In [128]:
us_data2["SUPPORT_SERVICES_EXPENDITURE"]=us_data2["SUPPORT_SERVICES_EXPENDITURE"].fillna(us_data2.groupby("YEAR")["SUPPORT_SERVICES_EXPENDITURE"].transform("mean"))
us_data2["SUPPORT_SERVICES_EXPENDITURE"]=us_data2["SUPPORT_SERVICES_EXPENDITURE"].fillna(us_data2["SUPPORT_SERVICES_EXPENDITURE"].mean())

In [129]:
us_data2["OTHER_EXPENDITURE"]=us_data2["OTHER_EXPENDITURE"].fillna(us_data2.groupby("YEAR")["OTHER_EXPENDITURE"].transform("mean"))
us_data2["OTHER_EXPENDITURE"]=us_data2["OTHER_EXPENDITURE"].fillna(us_data2["OTHER_EXPENDITURE"].mean())

In [130]:
us_data2["CAPITAL_OUTLAY_EXPENDITURE"]=us_data2["CAPITAL_OUTLAY_EXPENDITURE"].fillna(us_data2.groupby("YEAR")["CAPITAL_OUTLAY_EXPENDITURE"].transform("mean"))
us_data2["CAPITAL_OUTLAY_EXPENDITURE"]=us_data2["CAPITAL_OUTLAY_EXPENDITURE"].fillna(us_data2["CAPITAL_OUTLAY_EXPENDITURE"].mean())

In [131]:
us_data2["GRADES_PK_G"]=us_data2["GRADES_PK_G"].fillna(us_data2.groupby("YEAR")["GRADES_PK_G"].transform("mean"))
us_data2["GRADES_PK_G"]=us_data2["GRADES_PK_G"].fillna(us_data2["GRADES_PK_G"].mean())

In [132]:
us_data2["GRADES_KG_G"]=us_data2["GRADES_KG_G"].fillna(us_data2.groupby("YEAR")["GRADES_KG_G"].transform("mean"))
us_data2["GRADES_KG_G"]=us_data2["GRADES_KG_G"].fillna(us_data2["GRADES_KG_G"].mean())

In [133]:
us_data2["GRADES_KG_G"]=us_data2["GRADES_KG_G"].fillna(us_data2.groupby("YEAR")["GRADES_KG_G"].transform("mean"))
us_data2["GRADES_KG_G"]=us_data2["GRADES_KG_G"].fillna(us_data2["GRADES_KG_G"].mean())

In [134]:
us_data2["GRADES_4_G"]=us_data2["GRADES_4_G"].fillna(us_data2.groupby("YEAR")["GRADES_4_G"].transform("mean"))
us_data2["GRADES_4_G"]=us_data2["GRADES_4_G"].fillna(us_data2["GRADES_4_G"].mean())

In [135]:
us_data2["GRADES_8_G"]=us_data2["GRADES_8_G"].fillna(us_data2.groupby("YEAR")["GRADES_8_G"].transform("mean"))
us_data2["GRADES_8_G"]=us_data2["GRADES_8_G"].fillna(us_data2["GRADES_8_G"].mean())

In [136]:
us_data2["GRADES_12_G"]=us_data2["GRADES_12_G"].fillna(us_data2.groupby("YEAR")["GRADES_12_G"].transform("mean"))
us_data2["GRADES_12_G"]=us_data2["GRADES_12_G"].fillna(us_data2["GRADES_12_G"].mean())

In [137]:
us_data2["GRADES_1_8_G"]=us_data2["GRADES_1_8_G"].fillna(us_data2.groupby("YEAR")["GRADES_1_8_G"].transform("mean"))
us_data2["GRADES_1_8_G"]=us_data2["GRADES_1_8_G"].fillna(us_data2["GRADES_1_8_G"].mean())

In [138]:
us_data2["GRADES_9_12_G"]=us_data2["GRADES_9_12_G"].fillna(us_data2.groupby("YEAR")["GRADES_9_12_G"].transform("mean"))
us_data2["GRADES_9_12_G"]=us_data2["GRADES_9_12_G"].fillna(us_data2["GRADES_9_12_G"].mean())

In [139]:
us_data2["GRADES_ALL_G"]=us_data2["GRADES_ALL_G"].fillna(us_data2.groupby("YEAR")["GRADES_ALL_G"].transform("mean"))
us_data2["GRADES_ALL_G"]=us_data2["GRADES_ALL_G"].fillna(us_data2["GRADES_ALL_G"].mean())

In [140]:
us_data2["AVG_MATH_4_SCORE"]=us_data2["AVG_MATH_4_SCORE"].fillna(us_data2.groupby("YEAR")["AVG_MATH_4_SCORE"].transform("mean"))
us_data2["AVG_MATH_4_SCORE"]=us_data2["AVG_MATH_4_SCORE"].fillna(us_data2["AVG_MATH_4_SCORE"].mean())

In [141]:
us_data2["AVG_MATH_8_SCORE"]=us_data2["AVG_MATH_8_SCORE"].fillna(us_data2.groupby("YEAR")["AVG_MATH_8_SCORE"].transform("mean"))
us_data2["AVG_MATH_8_SCORE"]=us_data2["AVG_MATH_8_SCORE"].fillna(us_data2["AVG_MATH_8_SCORE"].mean())

In [142]:
us_data2["AVG_READING_4_SCORE"]=us_data2["AVG_READING_4_SCORE"].fillna(us_data2.groupby("YEAR")["AVG_READING_4_SCORE"].transform("mean"))
us_data2["AVG_READING_4_SCORE"]=us_data2["AVG_READING_4_SCORE"].fillna(us_data2["AVG_READING_4_SCORE"].mean())

In [143]:
us_data2["AVG_READING_8_SCORE"]=us_data2["AVG_READING_8_SCORE"].fillna(us_data2.groupby("YEAR")["AVG_READING_8_SCORE"].transform("mean"))
us_data2["AVG_READING_8_SCORE"]=us_data2["AVG_READING_8_SCORE"].fillna(us_data2["AVG_READING_8_SCORE"].mean())

In [156]:
us_data2.isnull().sum()

PRIMARY_KEY                     0
STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
GRADES_ALL_G                    0
AVG_MATH_4_SCORE                0
AVG_MATH_8_SCORE                0
AVG_READING_4_SCORE             0
AVG_READING_8_SCORE             0
dtype: int64

**4. This time, fill in the missing values by interpolating.**

In [151]:
for i in us_data3.columns[3:]:
    us_data3[i]=us_data3[i].fillna(us_data3[i].sort_values().interpolate(method ='linear', limit_direction ='forward'))

In [152]:
us_data3.isnull().sum()

PRIMARY_KEY                     0
STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
GRADES_ALL_G                    0
AVG_MATH_4_SCORE                0
AVG_MATH_8_SCORE                0
AVG_READING_4_SCORE             0
AVG_READING_8_SCORE             0
dtype: int64

**5.Compare your answers on the second, third and fourth questions. Do you notice a meaningful difference?**

In [158]:
us_data1

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,7.365843e+05,2678885.00,304177.00,1659028.00,715680.00,2653798.00,1481703.00,...,57948.00000,58025.00000,41167.00000,464653.65,2.133993e+05,7.316340e+05,208.000000,252.0,207.000000,255.000000
1,1992_ALASKA,ALASKA,1992,1.304296e+05,1049591.00,106780.00,720711.00,222100.00,972488.00,498362.00,...,9748.00000,8789.00000,6714.00000,80658.50,3.961205e+04,1.224870e+05,234.777778,280.0,209.888889,258.333333
2,1992_ARIZONA,ARIZONA,1992,8.743221e+05,3258079.00,297888.00,1369815.00,1590376.00,3401580.00,1435908.00,...,55433.00000,49081.00000,37410.00000,632177.35,3.001561e+05,6.734770e+05,215.000000,265.0,209.000000,258.636364
3,1992_ARKANSAS,ARKANSAS,1992,4.519019e+05,1711959.00,178571.00,958785.00,574603.00,1743022.00,964323.00,...,34632.00000,36011.00000,27651.00000,288069.95,1.368237e+05,4.414900e+05,210.000000,256.0,211.000000,258.818182
4,1992_CALIFORNIA,CALIFORNIA,1992,5.945343e+06,26260025.00,2072470.00,16546514.00,7641041.00,27138832.00,14358922.00,...,418418.00000,363296.00000,270675.00000,3783631.40,1.883045e+06,5.254844e+06,208.000000,261.0,202.000000,255.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,1.179632e+06,11237280.32,759245.56,4418365.64,6059669.12,11456358.48,6072911.24,...,87309.09375,86618.75000,75575.43750,737688.60,3.625800e+05,1.151226e+06,247.000000,287.0,224.000000,262.000000
1711,2019_WASHINGTON,WASHINGTON,2019,1.010687e+06,9295918.12,752469.48,5764736.68,2778711.96,9481863.84,4624236.92,...,75210.43750,74138.21875,70990.21875,625748.60,3.246117e+05,9.789468e+05,240.000000,286.0,220.000000,266.000000
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,2.891283e+05,2664419.00,287330.80,1564013.72,813074.48,2670432.28,1470191.08,...,21735.93750,22799.65625,20056.43750,168134.40,8.321148e+04,2.970217e+05,231.000000,272.0,213.000000,256.000000
1713,2019_WISCONSIN,WISCONSIN,2019,8.671074e+05,8944846.84,572206.44,4404704.20,3967936.20,8995488.76,4762572.92,...,61357.46875,62573.84375,64291.00000,497802.35,2.780265e+05,8.545297e+05,242.000000,289.0,220.000000,267.000000
1714,2019_WYOMING,WYOMING,2019,9.166442e+04,1173952.68,86561.00,611459.16,475932.52,1152672.48,572053.40,...,7162.12500,7262.65625,6479.78125,54758.00,2.774333e+04,9.343384e+04,246.000000,286.0,227.000000,265.000000

In [157]:
us_data2

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,917561.547747,2.678885e+06,3.041770e+05,1.659028e+06,7.156800e+05,2.653798e+06,1.481703e+06,...,57948.000000,58025.000000,41167.000000,577958.125867,282083.7059,7.316340e+05,208.000000,252.000000,207.000000,260.0
1,1992_ALASKA,ALASKA,1992,917561.547747,1.049591e+06,1.067800e+05,7.207110e+05,2.221000e+05,9.724880e+05,4.983620e+05,...,9748.000000,8789.000000,6714.000000,577958.125867,282083.7059,1.224870e+05,218.418605,266.325581,215.372093,260.0
2,1992_ARIZONA,ARIZONA,1992,917561.547747,3.258079e+06,2.978880e+05,1.369815e+06,1.590376e+06,3.401580e+06,1.435908e+06,...,55433.000000,49081.000000,37410.000000,577958.125867,282083.7059,6.734770e+05,215.000000,265.000000,209.000000,260.0
3,1992_ARKANSAS,ARKANSAS,1992,917561.547747,1.711959e+06,1.785710e+05,9.587850e+05,5.746030e+05,1.743022e+06,9.643230e+05,...,34632.000000,36011.000000,27651.000000,577958.125867,282083.7059,4.414900e+05,210.000000,256.000000,211.000000,260.0
4,1992_CALIFORNIA,CALIFORNIA,1992,917561.547747,2.626002e+07,2.072470e+06,1.654651e+07,7.641041e+06,2.713883e+07,1.435892e+07,...,418418.000000,363296.000000,270675.000000,577958.125867,282083.7059,5.254844e+06,208.000000,261.000000,202.000000,260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,917561.547747,9.097897e+06,7.674020e+05,4.221979e+06,4.108516e+06,9.202368e+06,4.765951e+06,...,69192.051379,68138.013603,58440.626991,577958.125867,282083.7059,9.142853e+05,247.000000,287.000000,224.000000,262.0
1711,2019_WASHINGTON,WASHINGTON,2019,917561.547747,9.097897e+06,7.674020e+05,4.221979e+06,4.108516e+06,9.202368e+06,4.765951e+06,...,69192.051379,68138.013603,58440.626991,577958.125867,282083.7059,9.142853e+05,240.000000,286.000000,220.000000,266.0
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,917561.547747,9.097897e+06,7.674020e+05,4.221979e+06,4.108516e+06,9.202368e+06,4.765951e+06,...,69192.051379,68138.013603,58440.626991,577958.125867,282083.7059,9.142853e+05,231.000000,272.000000,213.000000,256.0
1713,2019_WISCONSIN,WISCONSIN,2019,917561.547747,9.097897e+06,7.674020e+05,4.221979e+06,4.108516e+06,9.202368e+06,4.765951e+06,...,69192.051379,68138.013603,58440.626991,577958.125867,282083.7059,9.142853e+05,242.000000,289.000000,220.000000,267.0
1714,2019_WYOMING,WYOMING,2019,917561.547747,9.097897e+06,7.674020e+05,4.221979e+06,4.108516e+06,9.202368e+06,4.765951e+06,...,69192.051379,68138.013603,58440.626991,577958.125867,282083.7059,9.142853e+05,246.000000,286.000000,227.000000,265.0

In [159]:
us_data3

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,6307022.0,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,3929869.0,2013687.0,731634.0,208.0,252.0,207.0,280.0
1,1992_ALASKA,ALASKA,1992,6307022.0,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,3929869.0,2013687.0,122487.0,253.0,301.0,237.0,280.0
2,1992_ARIZONA,ARIZONA,1992,6307022.0,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,3929869.0,2013687.0,673477.0,215.0,265.0,209.0,280.0
3,1992_ARKANSAS,ARKANSAS,1992,6307022.0,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,3929869.0,2013687.0,441490.0,210.0,256.0,211.0,280.0
4,1992_CALIFORNIA,CALIFORNIA,1992,6307022.0,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3929869.0,2013687.0,5254844.0,208.0,261.0,202.0,280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2019_VIRGINIA,VIRGINIA,2019,6307022.0,89217262.0,9990221.0,50904567.0,36105265.0,85320133.0,43964520.0,...,493415.0,500143.0,498403.0,3929869.0,2013687.0,6441557.0,247.0,287.0,224.0,262.0
1711,2019_WASHINGTON,WASHINGTON,2019,6307022.0,89217262.0,9990221.0,50904567.0,36105265.0,85320133.0,43964520.0,...,493415.0,500143.0,498403.0,3929869.0,2013687.0,6441557.0,240.0,286.0,220.0,266.0
1712,2019_WEST_VIRGINIA,WEST_VIRGINIA,2019,6307022.0,89217262.0,9990221.0,50904567.0,36105265.0,85320133.0,43964520.0,...,493415.0,500143.0,498403.0,3929869.0,2013687.0,6441557.0,231.0,272.0,213.0,256.0
1713,2019_WISCONSIN,WISCONSIN,2019,6307022.0,89217262.0,9990221.0,50904567.0,36105265.0,85320133.0,43964520.0,...,493415.0,500143.0,498403.0,3929869.0,2013687.0,6441557.0,242.0,289.0,220.0,267.0
1714,2019_WYOMING,WYOMING,2019,6307022.0,89217262.0,9990221.0,50904567.0,36105265.0,85320133.0,43964520.0,...,493415.0,500143.0,498403.0,3929869.0,2013687.0,6441557.0,246.0,286.0,227.0,265.0

the second method is better, because we filled it more specifically